table.lijsten{
    width: 70%;
    background: rgba( 	66, 66, 66, 0.6);
    border-radius: 10px;

    align-items: center;
    justify-content: center;
    text-align: center;

    margin: auto;

    margin-bottom: 5%;
}
.uitloggen, .wrapper{
    margin-top: 1%;
}

.wrapper{
    margin-left: 1%;
}
.uitloggen{
    color: floralwhite;
    background: rgba( 	66, 66, 66, 0.6);

    text-align: center;
    float: right;
    margin-right: 1%;

    width: 7%;
    height: 3%;
}